h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
}
.indent {
    text-indent: 20px;
}

.gradient {
    /* background-color: unset !important; */
    background-image: linear-gradient(40deg, #f8f2da, #fcf8e8) !important;
}
